.dashboard-container {
  display: flex;
  min-height: 100vh;
}

app-sidebar {
  width: 250px;
  background-color: #1e1e2f;
  color: #fff;
    // border-right: 7px solid white;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex-grow: 1;
//   padding: 20px;
  background-color: #f5f5f5;
}

