<aside class="sidebar">
  <div class="sidebar-header">
    <h3>🏦 BankAdmin</h3>
  </div>

  <nav class="sidebar-nav">
    <ul>
        <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-chart-line"></i> Dashboard
        </li>
      <li routerLink="/dashboard/user"  routerLinkActive="active">
        <i class="fas fa-users"></i> Users
      </li>
      <li routerLink="/dashboard/account"  routerLinkActive="active" >
        <i class="fas fa-wallet"></i> Accounts
      </li>
     <li routerLink="/dashboard/transaction" routerLinkActive="active">
        <i class="fas fa-exchange-alt"></i> Transactions
      </li>
      <li routerLink="/dashboard/settings" >
        <i class="fas fa-cog"></i> Settings
      </li>
    </ul>
  </nav>
</aside>
