<div class="transaction-container">
  <h2 class="title">
    <i class="fas fa-money-check-alt icon"></i>
    Transaction History
  </h2>


<!-- show error message if not the record fecth  -->

  <div *ngIf="loading" class="text-center text-light p-3">
    <i class="fas fa-spinner fa-spin"></i> Loading transactions...
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>


  <table class="transaction-table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Account No</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let txn of transactions">
        <td>{{ txn.userName }}</td>
        <td>{{ txn.accountNo }}</td>
        <td>₹{{ txn.amount | number }}</td>
        <td><span class="type" [ngClass]="txn.type.toLowerCase()">{{ txn.type }}</span></td>
        <td>
          <span class="status" [ngClass]="txn.status.toLowerCase()">{{ txn.status }}</span>
        </td>
        <td>{{ txn.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
